<div class="slds-align_absolute-center">
	<h1 class="probabilityLabal slds-text-title_caps"><em>Probability</em><span>&#10236;</span></h1>
	<div class="slds-m-around_medium">
		<div class="slds-grid row" *ngFor="let row of riskMatrix; index as r">
			<risk-cell
				*ngFor="let cell of row; index as c"
				[value]=cell
				[row]=r
				[column]=c>
			</risk-cell>
		</div>
		<h1 class="impactLabel slds-text-title_caps slds-align_absolute-center"><em>Impact</em><span>&#10236;</span></h1>
	</div>
</div>