$size: 4rem;
$green: #49BEB7;
$yellow: #FACF5A;
$red: #FF5959;

div.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	width:$size;
	height:$size;
	text-align: center;
	margin: .1rem;
	border-radius: 5px;
	transition: .3s;
}
div.cell:hover {
	opacity: .75;
	cursor: pointer;
}
.green {
	background-color: $green;
}
.yellow {
	background-color: $yellow;
}
.red {
	background-color: $red;
}
.cellBorder {
	border: 1px solid black;
}