div.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	width: 3rem;
	height: 3rem;
	text-align: center;
	margin: .1rem;
	// background-color: lightgreen;
	border: 1px solid black;
	border-radius: 5px;
}
.green {
	background-color: lightgreen;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: lightcoral;
}