label {
	padding-right: 1rem;
}
h1 {
	color: orchid;
}
div.reactiveFormContainer {
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 15px;
}
input.ng-invalid.ng-touched {
	border: 1px solid red;
	border-radius: 2px;
}