<app-navigation></app-navigation>

<router-outlet></router-outlet>

<cat-facts></cat-facts>

<app-scss-explore class="purple-text"></app-scss-explore>

<app-warning-alert>
	{{ welcomeMessage }}
</app-warning-alert>

<hr class="appComponentFooter" />

<button
	class="slds-button slds-button_outline-brand"
	(click)="createComponent()"
>
	Create Dynamic Alert Component
</button>
<ng-template componentPlaceholder></ng-template>

<app-user></app-user>
<p *ngIf="userActivated">Activated!</p>

<app-cockpit (worldCreated)="onWorldCreated($event)"></app-cockpit>

<app-warning-alert [namechange]="name">
	<h4 #warningTitle>PROJECTED WARNING!!!</h4>
	<p>Projecting this content with ng-content</p>
</app-warning-alert>

<app-success-alert></app-success-alert>
<br>
<app-success-alert>
	<p>projected text</p>
</app-success-alert>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<button
				nglButton
				variant="brand"
				(click)="onToggleDisplay()"
			>Display Details</button>
			<p *ngIf="showSecret">Secret Password = booboo chicken</p>
			<p *appUnless="!showSecret">Secret Password = booboo chicken</p>
			<div
				*ngFor="let logItem of log; let i = index"
				[ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
				[ngClass]="{'white-text' : i >= 4}"
				>{{logItem}}</div>
			<label>Username</label>
			<input
				type="text"
				class="form-control"
				[(ngModel)]="username"
			>
			<p>{{username}}</p>
			<button
				class="slds-button slds-button_outline-brand"
				[disabled]="username === ''"
				(click)="username = ''"
			>
				Reset User
			</button>
			<input
				type="text"
				[(ngModel)]="name"
			>
			<p>{{name | uppercase}}</p>
		</div>
	</div>
</div>
<!-- Below are example of custom directives -->
<div class="featureSection">
	<p>Directive Examples</p>
	<p appBasicHighlight>Style me with basic directive</p>
	<p
		[appBetterHighlight]="'red'"
		defaultColor="yellow"
	>This element is using the 'appBetterHighlight' directive</p>
	<p appBetterHighlight>This element is using the 'appBetterHighlight' directive</p>
</div>
<!-- Ng switch is like a switch statement in JS -->
<div class="featureSection">
	<p>ngSwitch Example</p>
	<button
		class="slds-button slds-button_outline-brand"
		(click)="runSwitch()"
	>ngSwitch example {{switchValue}}</button>
	<div [ngSwitch]="switchValue">
		<p *ngSwitchCase="5">values is 5</p>
		<p *ngSwitchCase="100">values is 100</p>
		<p *ngSwitchCase="10">values is 10</p>
		<p *ngSwitchDefault>values is default</p>
	</div>
</div>