<!-- Routing -->
<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="">Home</a></li>
			<li role="presentation"><a href="counter">Counter</a></li>
			<li role="presentation"><a href="servers">Servers</a></li>
			<li role="presentation"><a href="game">Game</a></li>
		</ul>
	</div>
</div>
<router-outlet></router-outlet>
<hr>
<!-- Learning -->
<h6>A simple interval game</h6>
<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
<hr>
<br>
<app-counter></app-counter>
<hr>
<app-cockpit (worldCreated)="onWorldCreated($event)"></app-cockpit>
<hr>
<app-warning-alert [namechange]="name">
	<h4 #warningTitle>PROJECTED WARNING!!!</h4>
	<p>Projecting this content with ng-content</p>
</app-warning-alert>
<app-success-alert></app-success-alert>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-secondary" (click)="onToggleDisplay()">Display Details</button>
			<p *ngIf="showSecret">Secret Password = booboo chicken</p>
			<p *appUnless="!showSecret">Secret Password = booboo chicken</p>
			<div *ngFor="let logItem of log; let i = index"
				[ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
				[ngClass]="{'white-text' : i >= 4}">{{logItem}}</div>
			<label>Username</label>
			<input type="text" class="form-control" [(ngModel)]="username">
			<p>{{username}}</p>
			<button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset User</button>
			<h3>Im in the app component</h3>
			<input type="text" [(ngModel)]="name">
			<p>{{name}}</p>
			<hr>
			<app-servers></app-servers>
		</div>
	</div>
</div>
<!-- Below are example of custom directives -->
<p appBasicHighlight>Style me with basic directive</p>
<p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with a better directive</p>
<p appBetterHighlight>yo yo yo</p>
<!-- Ng switch is like a switch statement in JS -->
<button class="btn btn-secondary" (click)="runSwitch()">Peep the ngSwitch {{switchValue}}</button>
<div [ngSwitch]="switchValue">
	<p *ngSwitchCase="5">values is 5</p>
	<p *ngSwitchCase="100">values is 100</p>
	<p *ngSwitchCase="10">values is 10</p>
	<p *ngSwitchDefault>values is default</p>
</div>