<div class="slds-tabs_default">
	<ul class="slds-tabs_default__nav" role="tablist">
		<a class="slds-tabs_default__link slds-tabs_default__item"
			routerLink="/features"
			routerLinkActive="slds-is-active"
			[routerLinkActiveOptions]="{exact: true}"
			role="tab"
			tabindex="-1"
			aria-selected="false"
			aria-controls="tab-default-2"
			id="tab-default-2__item">
			Home
		</a>
		<a *ngFor="let route of routes"
			class="slds-tabs_default__link slds-tabs_default__item"
			[routerLink]="route.path"
			routerLinkActive="slds-is-active"
			role="tab"
			tabindex="-1"
			aria-selected="false"
			aria-controls="tab-default-2"
			id="tab-default-2__item">
			{{route.name}}
		</a>
	</ul>
</div>

<router-outlet></router-outlet>