<h3>Observables Practice</h3>

<div class="alphabet">
	<input class="slds-input" #alphabet type="text" [value]="inputPlaceholder">
	<button class="slds-button slds-button_brand" (click)="processAlphabet(alphabet)">Process text as Observable</button>
	<button class="slds-button slds-button_brand" (click)="startCustomObservable()">Start custom observable</button>
	<button class="slds-button slds-button_brand" (click)="exploreObservables()">Explore Observables</button>
	<button class="slds-button slds-button_brand" (click)="increment()">Increment</button>
</div>
<div>
	<ol>
		<li *ngFor="let value of incrementOutput">{{value}}</li>
	</ol>
</div>
<button class="slds-button slds-button_brand" (click)="processIncrementOutput()">Do stuff</button>