/* You can add global styles to this file, and also import other style files */
/*
	Drama Sans font
*/
// @font-face {
// 	font-family: 'Drama Sans';
// 	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot'); /* IE9 Compat Modes */
// 	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff2') format('woff2'), /* Super Modern Browsers */
// 		url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff') format('woff'), /* Pretty Modern Browsers */
// 		url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.ttf')  format('truetype'); /* Safari, Android, iOS */
//   }
//   * {
// 	  font-family: Drama Sans;
// 	  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
//   }

/*
	Salesforce font
*/
@font-face {
	font-family: 'Salesforce Sans';
	src: 
		   url('../node_modules/@salesforce-ux/design-system/assets/fonts/SalesforceSans-Regular.ttf')
		//    url('../node_modules/@salesforce-ux/design-system/assets/fonts/SalesforceSans-Italic.ttf')
		//    url('../node_modules/@salesforce-ux/design-system/assets/fonts/webfonts/SalesforceSans-Regular.woff')
		//    url('../node_modules/@salesforce-ux//design-system//assets/fonts/SalesforceSans-Light.ttf')
		//    url('../node_modules/@salesforce-ux//design-system//assets/fonts/SalesforceSans-Thin.ttf')
}

* {
	font-family: Salesforce Sans;
}